@import '../../stylingVariables';

.contain {
  max-width: 1200px;
}

.footer {
  color: $color-text-light;
  font-size: 14px;
  width: 100%;
  position: relative;
  height: auto;
  background-color: $color-background-default;
}
.footer .col {
  width: 33%;
  height: auto;
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
}

.footer .col h1 {
  margin: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0 5px 0;
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
}

.social ul li {
  display: inline-block;
  padding-right: 5px !important;
  img {
    width: 32px;
  }
}

.footer .col ul li:hover {
  color: $color-blue;
  transition: 0.1s;
}

.clearFix {
  clear: both;
}

@media only screen and (min-width: $min-mq4) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: $max-mq4) {
  .contain .social {
    display: block;
  }
  .social h1 {
    margin: 0;
  }
}
@media only screen and (max-width: $max-mq3) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: $max-mq1) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
