<!-- localisation -->
<div class="footer">
  <div class="contain">
    <div class="col">
      <h1>About us</h1>
      <p>
        We are one of the biggest producers of premium cars and the world's biggest manufacturer of commercial vehicles
        with a global reach. We provide financing, leasing, fleet management, insurance and innovative mobility
        services. SEO texte und so.
      </p>
    </div>
    <div class="col">
      <h1>Company</h1>
      <ul>
        <li>Contact</li>
        <li>Impressum</li>
        <li>Datenschutz</li>
        <li>AGB</li>
        <li></li>
      </ul>
    </div>
    <div class="col social">
      <h1>Social</h1>
      <ul>
        <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;" /></li>
        <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;" /></li>
        <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;" /></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
