<div class="footer">
  <div class="contain">
    <div class="col">
      <h1>{{ 'footer.aboutUs.headline' | translate }}s</h1>
      <p>
        {{ 'footer.aboutUs.text' | translate }}
      </p>
    </div>
    <div class="col">
      <h1>{{ 'footer.company.headline' | translate }}</h1>
      <ul>
        <li>{{ 'footer.company.contact' | translate }}</li>
        <li>{{ 'footer.company.imprint' | translate }}</li>
        <li>{{ 'footer.company.consent' | translate }}</li>
        <li>{{ 'footer.company.conditions' | translate }}</li>
      </ul>
    </div>
    <div class="col social">
      <h1>{{ 'footer.social' | translate }}</h1>
      <ul>
        <li><img src="https://svgshare.com/i/5fq.svg" alt="X" /></li>
        <li><img src="https://svgshare.com/i/5fq.svg" alt="X" /></li>
        <li><img src="https://svgshare.com/i/5fq.svg" alt="X" /></li>
      </ul>
    </div>
    <div class="clearFix"></div>
  </div>
</div>
