<div>
  <h2>
    {{ 'distanceCalculator.headline' | translate }}
  </h2>
  <p>
    {{ 'distanceCalculator.introText' | translate }}
  </p>
</div>

<div class="destination-calculator__wrapper">
  <div
    [class.destination-calculator__calc-data-present]="!!currentCalculationData"
    class="destination-calculator__container"
  >
    <app-auto-complete
      [label]="'distanceCalculator.start' | translate"
      [options]="startLocationOptions"
      (valueChanges)="searchStartPosition($event)"
      (selected)="selectedStartPosition($event)"
    ></app-auto-complete>

    <app-auto-complete
      [label]="'distanceCalculator.destination' | translate"
      [options]="destinationLocationOptions"
      (valueChanges)="searchDestinationPosition($event)"
      (selected)="selectedDestinationPosition($event)"
    ></app-auto-complete>
  </div>
  <div *ngIf="currentCalculationData" class="destination-calculator__result">
    <ng-container *ngIf="showMore; then detailedCalc; else simpleCalc"></ng-container>
  </div>
</div>
<div class="destination-calculator__container">
  <iframe #directionMap class="destination-calculator__directions-map" frameborder="0" src="" allowfullscreen></iframe>
</div>

<ng-template #simpleCalc>
  <div class="destination-calculator__result--item">
    <span>{{ 'distanceCalculator.totalCost' | translate }}</span>
    <span>{{ currentCalculationData?.totalCost | Euro }}</span>
  </div>
  <div class="destination-calculator__result--item-show-more" (click)="toggleShowMore()">
    <p [appIconColor]="'lightgrey'" [appIconAlignment]="'center'" appIcon="Arrow-down">
      {{ 'distanceCalculator.showMore' | translate }}
    </p>
  </div>
</ng-template>

<ng-template #detailedCalc>
  <div class="destination-calculator__result--item">
    <span>{{ 'distanceCalculator.basisFee' | translate }}</span>
    <span>{{ '3.5' | Euro }}</span>
  </div>
  <div class="destination-calculator__result--item">
    <span>{{ 'distanceCalculator.first4Km' | translate }}</span>
    <span>{{ '2.5' | Euro }}</span>
  </div>
  <div class="destination-calculator__result--item">
    <span>{{ 'distanceCalculator.after4Km' | translate }}</span>
    <span>{{ '2' | Euro }}</span>
  </div>
  <div class="destination-calculator__result--item">
    <span>{{ 'distanceCalculator.totalDistance' | translate }}</span>
    <span> ~ {{ currentCalculationData?.distanceInKm?.roundedUp }} KM</span>
  </div>
  <br />
  <div class="destination-calculator__result--item">
    <span>{{ 'distanceCalculator.costFor4Km' | translate }}</span>
    <span>{{ currentCalculationData?.costFirstFourKm | Euro }}</span>
  </div>
  <div class="destination-calculator__result--item">
    <span>{{ 'distanceCalculator.costAfter4Km' | translate }}</span>
    <span>{{ currentCalculationData?.costAfterFourKm | Euro }}</span>
  </div>
  <div class="destination-calculator__result--item destination-calculator__result--item-highlighted">
    <span>{{ 'distanceCalculator.totalCost' | translate }}</span>
    <span>{{ currentCalculationData?.totalCost | Euro }}</span>
  </div>
  <div class="destination-calculator__result--item-show-more" (click)="toggleShowMore()">
    <p [appIconColor]="'lightgrey'" [appIconAlignment]="'center'" appIcon="Arrow-up">
      {{ 'distanceCalculator.showLess' | translate }}
    </p>
  </div>
</ng-template>
