@import '../../stylingVariables';

.destination-calculator {
  &__wrapper {
    display: flex;
    @media (max-width: $max-mq2) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__calc-data-present {
    @media (max-width: $max-mq3) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__container {
    display: flex;
    flex: 4;
    justify-content: space-evenly;

    @media (max-width: $max-mq2) {
      flex-direction: column;
      align-items: center;
      padding: 16px;
    }
  }

  &__result {
    flex: 2;
    align-self: flex-end;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 0 10px;

    transition: all 0.6s;

    @media (max-width: $max-mq3) {
      align-self: center;
    }

    @media (max-width: $max-mq2) {
      margin: 1em 0;
      max-width: 300px;
    }

    &--item {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      padding-top: 5px;
      justify-content: space-between;
      font-size: 16px;
      line-height: 20px;

      &:nth-child(1) {
        padding-top: 10px;
      }

      &-show-more {
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;

        p {
          text-align: center;
          margin: 0;
          font-size: 16px;
          color: #999;
        }
      }

      &-highlighted {
        color: $color-blue;
      }
    }
  }

  &__directions-map {
    pointer-events: none;
    height: 450px;
    width: 100%;
    border: 0;
    margin: 1em 0;
    border-radius: 5px;
    background: rgba(17, 17, 17, 0.9);

    @media (max-width: $max-mq2) {
      margin: 0;
    }
  }
}
