<app-navigation [scrolled]="scrolled$ | async"></app-navigation>
<app-header (scrolled)="emitScrolledStatus($event)"></app-header>

<router-outlet></router-outlet>

<section>
  <h2>{{ 'main.headline' | translate }}</h2>
  <p>{{ 'main.introText1' | translate }}</p>
  <p *ngIf="'main.introText2' | translate">{{ 'main.introText2' | translate }}</p>

  <h2>{{ 'carPreview.headline' | translate }}</h2>
  <p>{{ 'carPreview.introText' | translate }}</p>
  <app-car-preview></app-car-preview>

  <app-distance-calculator (calculationData)="calculationDataChange($event)"></app-distance-calculator>

  <app-contact-form
    [showIncludeCalculationData]="!!calculationData"
    [emailSendingStatus]="emailSendingProgress"
    (sendContactData)="sendContactEmail($event)"
  ></app-contact-form>
</section>
<app-footer></app-footer>
