$distance-between-menu-items: 20px;
$color-blue: #3babed;
$color-white: white;
$color-black: black;
$color-text-default: #333333;
$color-text-light: #c3c3c3;
$color-background-default: #111111;
$color-background-default-with-opacity: rgba(17, 17, 17, 0.9);
$opacity-default: 0.9;
$height-navigation: 75px;
