$distance-between-menu-items: 20px;
$color-blue: #3babed;
$color-white: white;
$color-black: black;
$color-text-default: #333333;
$color-text-light: #c3c3c3;
$color-background-default: #111111;
$color-background-default-with-opacity: rgba(17, 17, 17, 0.9);
$opacity-default: 0.9;

$height-navigation: 75px;
$generalPadding: 25px;

$max-mq1: 479px;
$max-mq2: 767px;
$max-mq3: 1023px;
$max-mq4: 1278px;
$max-mq5: 1439px;

$min-mq1: 480px;
$min-mq2: 768px;
$min-mq3: 1024px;
$min-mq4: 1279px;
$min-mq5: 1440px;
