@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 700');
@import 'app/stylingVariables';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: $color-text-default;
}

textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 1200px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ICON Styling START

.icon {
  fill: white;

  &-small {
    width: 12px;
    height: 12px;
  }

  &-normal {
    width: 24px;
    height: 24px;
  }

  &-large {
    width: 48px;
    height: 48px;
  }

  &-white {
    fill: #fff;
  }

  &-black {
    fill: #000;
  }

  &-lightgrey {
    fill: #999;
  }

  &-start {
    align-self: start;
  }

  &-center {
    align-self: center;
  }

  &-end {
    align-self: end;
  }
}

// ICON Styling END

// loading Spinner START

.loading__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.5);
  backface-visibility: hidden;
  transform-origin: 0 0;

  div {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 10px solid $color-blue;
    border-top-color: transparent;
    border-radius: 50%;
    animation: loading__animation 1s linear infinite;
    top: 50px;
    left: 50px;
    box-sizing: content-box;
  }
}

// loading Spinner END

.global--shadow {
  box-shadow: 4px 4px 14px #000;
}
