@import url('https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 700');
@import 'app/stylingVariables';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: $color-text-default;
}

textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 1200px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ICON Styling START

.icon {
  fill: white;

  &-small {
    width: 12px;
    height: 12px;
  }

  &-normal {
    width: 24px;
    height: 24px;
  }

  &-large {
    width: 48px;
    height: 48px;
  }

  &-white {
    fill: #fff;
  }

  &-black {
    fill: #000;
  }

  &-lightgrey {
    fill: #999;
  }

  &-start {
    align-self: start;
  }

  &-center {
    align-self: center;
  }

  &-end {
    align-self: end;
  }
}

// ICON Styling END
