<nav [class.scrolled]="scrolled" class="navigation">
  <a>
    <img src="assets/images/logo.png" alt="logo" class="logo" />
  </a>
  <div class="navigation-container">
    <div class="navigation-child">
      <a>{{ 'menu.fleet' | translate }}</a>
    </div>
    <div class="navigation-child sub-menu language" (click)="openLanguageDropdown()">
      <a appIcon="Earth">{{ 'menu.language' | translate }}</a>
      <div class="sub-menu__content">
        <div
          *ngFor="let language of languageList"
          (click)="switchLanguage(language.languageCode)"
          class="sub-menu__language"
        >
          <span class="flag-icon flag-icon-{{ language.languageCode }} sub-menu__flag"></span>
          <a [class.current-language]="currentLanguage === language.languageCode">{{ language.language }}</a>
        </div>
      </div>
    </div>
    <div class="navigation-child-with-dropdown"></div>

    <div class="navigation-child">
      <a href="#contact">{{ 'menu.contact' | translate }}</a>
    </div>
  </div>
</nav>
