@import '../../stylingVariables';

.scrolled {
  background: $color-background-default;
  opacity: $opacity-default;

  .sub-menu__content {
    opacity: 1;
  }
}

.navigation {
  @media (max-width: $max-mq2) {
    display: none;
  }
  position: fixed;
  width: 100%;
  z-index: 1000;

  &-container {
    float: right;
    list-style: none;
    padding: $generalPadding;
    margin: 0;
  }

  &-child {
    align-items: center;
    float: left;
    display: flex;
    height: 24px;
  }

  &-child-with-dropdown {
    align-items: center;
    float: left;
    display: flex;
    height: 24px;
  }

  a {
    font-size: 0.9em;
    color: $color-white;
    text-decoration: none;
    margin-left: $distance-between-menu-items;
    display: block;

    &:hover {
      color: $color-blue;
    }
  }
}

.logo {
  height: 50px;
  margin: 10px;
  float: left;

  &:before,
  &:after {
    position: absolute;
    font-size: 7em;
    font-weight: 300;
    line-height: 0;
    color: #fff;
    top: $generalPadding;
  }
}

.language {
  margin-left: $distance-between-menu-items;

  &:hover {
    cursor: pointer;
  }

  a {
    margin-left: 5px;
  }
}

.sub-menu {
  &:hover &__content {
    display: block;
  }

  &__content {
    align-self: flex-start;
    margin-top: $generalPadding;

    display: none;
    background: $color-background-default;
    opacity: 0.9;
    position: absolute;
    min-width: 160px;
    z-index: 1;

    &:before {
      background-image: -webkit-linear-gradient(
          transparent $opacity-default,
          $color-background-default $opacity-default,
          $color-background-default
        ),
        -webkit-linear-gradient(0deg, transparent $opacity-default, $color-background-default $opacity-default, $color-background-default);
    }
  }

  &__language {
    display: flex;
    align-items: center;
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;

    &:hover {
      a {
        color: $color-blue;
      }
    }
  }

  &__flag {
    width: 24px;
    height: 24px;
  }

  .current-language {
    color: $color-blue;
  }
}

.navigation-resp {
  @media (min-width: $min-mq2) {
    display: none;
  }
  position: fixed;
  width: 100%;
  z-index: 1000;

  &__main {
    background: $color-background-default-with-opacity;
    height: $height-navigation;

    &,
    ul {
      margin: 0;
      padding: 0;
      font-weight: 300;
      line-height: 60px;
    }

    a {
      color: $color-white;
      text-decoration: none;
      cursor: pointer;
    }

    &--trigger {
      position: absolute;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      & > a {
        padding: 0 30px;
      }
    }

    &--logo {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &:after {
      display: table;
      clear: both;
      content: '';
    }
  }

  &__wrapper {
    position: fixed;
    top: $height-navigation;
    bottom: 0;
    overflow: hidden;
    width: 0;
    border-top: 1px solid $color-text-light;
    background: $color-background-default-with-opacity;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;

    &--open {
      width: 370px;
      @media (max-width: $max-mq1) {
        width: 100%;
      }
    }
  }

  &__menu {
    border-bottom: 1px solid $color-text-light;
    font-size: 18px;

    li a {
      margin: 0 10px;
    }

    &--icon {
      display: flex;

      svg {
        transform: rotate(-90deg);
        -webkit-transition: transform 0.3s;
        -moz-transition: transform 0.3s;
        transition: transform 0.3s;
      }
    }

    li:not(:first-child),
    & li li {
      box-shadow: inset 0 1px $color-text-light;
    }
  }

  &__sub-menu {
    li {
      overflow: hidden;
      height: 0;
      -webkit-transition: height 0.3s;
      -moz-transition: height 0.3s;
      transition: height 0.3s;
    }

    &--label {
      color: $color-text-light;

      &.selected {
        color: $color-blue;
      }
    }

    .flag-icon {
      margin-left: 25px;
      margin-right: 10px;
    }

    &--expanded {
      .navigation-resp__menu--icon svg {
        transform: rotate(0);
      }

      .navigation-resp__sub-menu li {
        height: 60px;
        display: flex;
      }
    }
  }
  &__icon-menu {
    &::before {
      width: 30px;
      height: 3px;
      display: inline-block;
      box-shadow: 0 3px white, 0 -9px white;
      content: '';
    }
    &--selected::before {
      box-shadow: 0 3px $color-blue, 0 -9px $color-blue;
    }
  }
}
